/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    cursor: none;
}

@media (max-width: 800px) {
  *{
    cursor: pointer;
  }
}

/* Light Mode */
:root {
    --bg: #f7f7f7;
    --text: #1c1c1c;
    --accent: #0077ff;

    --logo-light: #111111; /* dark logo for light bg */
  --logo-dark: #ffffff;  /* light logo for dark bg */
}

/* Dark Mode */
.dark {
    --bg: #0f0f0f;
    --text: #ffffff;
    --accent: #4db1ff;

       --logo-light:  #ffffff; /* dark logo for light bg */
  --logo-dark:#111111;  /* light logo for dark bg */

}

::selection{
  background: orange;
  color:peachpuff;
}


body {
    background: linear-gradient(135deg, #7f5cff, #20e3b2, #f9dd94);
    background-size: 300% 300%;
    animation: gradientMove 12s ease infinite;
    overflow-x: hidden;
    /* overflow-y: ; */

    margin :0;
    padding: 0;

    /* min-height: 200px; */
}

@keyframes gradientMove {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

/* Navbar
nav {
    position: sticky;
    top: 0;
    background: var(--bg);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa2;
    z-index: 10;
}

nav .logo {
    font-size: 22px;
    font-weight: 600;
}

nav .nav-links {
    display: flex;
    gap: 25px;
}

nav .nav-links li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}

nav a:hover {
    color: var(--accent);
} */


nav {
    margin-top: 30px;
    margin-left: 30px;
    position: fixed;       /* fixed to left side */
    top: 0;
    left: 0;
    width: 150px;           /* sidebar width */
    height: 90vh;         /* full viewport height */
    background: var(--bg);
    padding: 20px 0;
    display: flex;
    flex-direction: column; /* vertical layout */
    align-items: center;
    border-right: 1px solid #aaa2; /* replace bottom border */
    z-index: 10;
    /* backdrop-filter: blur(10px); */

    border-radius: 15px;

    
}

@media (max-width : 800px){

  nav{
    display: none;
  }
}

/* Logo inside sidebar */
nav .logo {

    /* color: var(--bg);
     */

       font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;

     color : var(--logo-light) ;
    /* font-size: 22px;
    font-weight: 600; */
    margin-bottom: 50px;  /* spacing below logo */

        border-radius: 0px;
      box-shadow: 10px 10px var(--logo-light);
  
    padding: 15px;
    /* border-radius: 15px;*/

       border: 2px solid var(--logo-light); 

    transition: 2s ease;
}

nav .logo:hover{
  box-shadow: var(--accent);
}


/* Nav links list */
nav .nav-links {
    display: flex;
    flex-direction: column ; /* vertical links */
    gap: 60px;
    padding: 0;

    

}

/* Remove list styling */
nav .nav-links li {
    list-style: none;
   

}

/* Links styling */
nav a {
  
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
    transition: color 0.3s;

}

/* Hover effect */
nav a:hover {
    color: var(--logo-light);
    
     background-color: var(--accent) ; 
   border-radius: 15px;
   padding:15px;
     
}

nav .nav-links li:hover{
/* 
    background-color:  var(--logo-light); */

    /* text-decoration: 2px underline var(--logo-light); */
    transform: scale(1.1);
}

/* Theme Button */
#themeToggle {
    background: var(--accent);
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;

    margin-top: 100px;

    transition: 1s ease;

    width:90px;
}

#themeToggle2{
  display: none;
}

@media (max-width:800px)
{
#themeToggle2{

  display: flex;
  position: fixed;
  z-index: 999;

   background: var(--accent);
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;

    right:2rem;
    bottom: 2rem;

    
    transition: 1s ease;

    width:3rem;
    height:3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;

  }

#themeToggle2:hover{
      background: var(--logo-light);
    color:var(--logo-dark);
}
}

#themeToggle:hover{

    transform: scale(1.2);
    background: var(--logo-light);
    color:var(--logo-dark);

    border-radius: 0px;
}

/* Sections */
.section {
     background: transparent;
    padding: 100px 20px;
    padding :200px;
}

@media (max-width: 800px) {
  .section{
    padding:20px 2px;
  }
  
}
/* Home2 */
#home2 h1 {
    /* font-size: 42px;
    font-weight: 600; */

     font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
/* 
  flex : 1; */

}

.typing {

    min-height: 50px;

    margin-top: 15px;
    font-size: 22px;
    /* color: var(--accent); */
    font-weight: 600;
/* 
 color: linear-gradient(90deg, #7f5af0, #38bdf8); */
/* -webkit-text-fill-color: transparent; */

  /* background: linear-gradient(90deg, #7f5af0, #2cb67d);
 
  -webkit-text-fill-color: transparent; */
/* 
  color: #7f5af0; */
  color: #f97316;
  

}

@media  (max-width:800px){
  
  .typing{
    min-height: 6rem;
  }
}


/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 30px;
}

@media (max-width: 800px) {
  .skills-grid{
    grid-template-columns: 1fr 1fr;
  }
  
}

.skill-box {

      display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 10px;
  padding: 20px 25px;

    /* padding: 20px; */
    text-align: center;
    border: 1px solid #aaa3;
    border-radius: 12px;
    transition: 0.3s;

    border-color: cyan;

    font-size: normal;
 

}

.skill-box:nth-child(1),
.skill-box:nth-child(4),
.skill-box:nth-child(7),
.skill-box:nth-child(5),
.skill-box:nth-child(11)
 {
  grid-column: 1;
}

.skill-box:nth-child(2),
.skill-box:nth-child(6),
.skill-box:nth-child(8) {
  grid-column: 2;
}
.skill-box:nth-child(3),
.skill-box:nth-child(),
.skill-box:nth-child(9) {
  grid-column: 3;
}

.liner{
  width : 100%;
  height:1px;

  background-color: var(--logo-light);
}

.skill-box:hover {
    transform: translateY(10px) rotate3d(1,1,0,20deg);
    border-color: red;
    box-shadow: 10px 10px black;
}

/* Project cards */
.project-card {
    border: 1px solid #aaa3;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    border-color: var(--accent);
}

/* projects */

.skills-grid-2 {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;        /* Creates spacing both ways */
   /* margin-top: 30px; */

     display: grid;
  grid-template-columns: 1fr  1fr;
  gap: 40px;
}

@media (max-width: 800px){

  .skills-grid-2{
    grid-template-columns:  1fr ;
  }
}

.skill-boxer {
    /* padding: 30px;
    text-align: center;
    border: 1px solid #aaa3;
    border-radius: 15px;
    transition: 0.3s;

    border-color: purple; */

    /* gap:50px; */

    /* width : 30%;
    height:50%; */
    padding: 30px;
  border-radius: 0px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

.skill-boxer:hover {
  border-radius: 0px;
     transform:  translateY(-10px);
    /* border-color: orange; */
     /* box-shadow: 10px 10px black; */
}
.skill-boxer:nth-child(1),
.skill-boxer:nth-child(3)
 {
  grid-column: 1;
  margin-top: 80px;
  /* margin-bottom: 50px; */
}

.skill-boxer:nth-child(2),
.skill-boxer:nth-child(4)
 {
  grid-column: 2;
  /* margin-left: 100px; */
  /* margin-top: 200px; */
 
}
 



/* flip */

/* Skills Grid */
.skills-grid-3 {

      display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
/* 
  display: flex;
  flex-wrap: wrap;
    grid-column: (120px, 1fr);
    gap: 25px;
    margin-top: 10px; */

    /* display: flex;
    flex-direction: column; */
    /* perspective: 1000px;  only needed if you still use 3D effects  */

    /* display: grid;
   gap:25px;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
 
    margin-top: 30px;
    perspective: 1000px; */
}



/* Skill Card Container */
.skill-box-3 {
    width: 100%;
    height: 150px; /* Adjust as needed */
    border-radius: 12px;
    perspective: 1000px;
    cursor: pointer;

/* transition: 1s ease; */
}

/* Inner container for front/back */
.skill-inner-3 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid cyan;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);

   
    transition: 3s;
}

/* Flip on hover */
.skill-box-3:hover .skill-inner-3 {
    transform: rotateY(180deg);
}

/* Front and back sides */
.skill-front-3, .skill-back-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* Front side */
.skill-front-3 {
    background-color: transparent;
    color: var(--logo-dark);

        font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Back side */
.skill-back-3 {
    background-color: transparent;
    color: var(--logo-light);
    transform: rotateY(180deg);
    transform: 1s ease;

        font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  opacity: 0.7;
}



/* glass effect */
.glass {
      background: rgba(255, 255, 255, 0.08);  
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.dark .glass {
   
        background: rgba(0, 0, 0, 0.18);
    border-color: rgba(255,255,255,0.25);

}



#bg-shapes {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

.shape {
  position: absolute;
  width: 160px;
  height: 160px;
  background: linear-gradient(135deg, #ff4d79, #ffb84d);
  border-radius: 30%;
  opacity: 0.5;
  filter: blur(20px);
  animation: moveAcross 15s linear infinite;
}

/* Movement animation */
@keyframes moveAcross {
  0% {
    transform: translateX(-200px) translateY(0);
  }
  100% {
    transform: translateX(120vw) translateY(-40px);
  }
}


.iconic button{
    background-color: var(--accent);
    

    width: 80px;
    height:50px;

    font-weight: bold;

    border-radius: 15px;
    border: none;

    margin-top: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    transition: 0.3s linear;

}


.iconic button:hover{
    background-color: var(--logo-light);
    color: var(--logo-dark);
    transform: translateY(-10px);
   box-shadow: 10px 10px var(--accent); 
  cursor: pointer;

  border-radius: 0px;
    
}

.iconic{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}


@media (max-width: 800px) {
  .iconic  {
display: grid;

grid-template-columns: 1fr 1fr;

}

.temp{
  display: none;
}
  
}

a{
    text-decoration: none;
    color: var(--logo-dark);
}


h2{
   font-weight: normal;
    font-family: cursive;

}

.mein{

     
   font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;

  opacity: 0.5;

  flex:7;

  transition: 1s linear;
}

.mein:hover{
    opacity: 0.9;
}

.coly{
font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;

}

h1{
    transition: 0.8s ease;
}

h1:hover{
    text-decoration: 2px underline solid var(--accent);
}

/* // skills - icons */
.skill-text {
  flex: 1;
  font-weight: 500;
  font-size: 16px;
}

.divider {
  width: 2px;
  height: 100%;
   background:  cyan;
}

.skill-box i {
  font-size: 26px;
}

.skill-box:hover .divider{
background: red;
}

.skill-box:hover i {
  filter: drop-shadow(0 0 8px rgba(124, 58, 237, 0.8))
          drop-shadow(0 0 16px rgba(124, 58, 237, 0.6));
  transform: scale(1.1);
}





.skill-boxer-5 {
  position: relative;
  width: 300px;
  height:250px;
  padding: 50px;
  color: black ;
  border-radius: 16px;
  background-color:rgba(124, 58, 237, 0.4);
  /* backdrop-filter: blur(12px);
  */
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  transition: transform 1s linear;

  overflow: hidden;
  z-index: 1;
}

.skill-boxer-5::after{
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0;

    transform-origin: right;
  transition: transform 0.35s ease;


  background-color: rgba(255, 255, 255, 0.2) ;

}

.skill-boxer-5:hover:after{
  transform: scaleX(0);

}

.skill-boxer-5:hover{
  transform: scale(1.1);

}


/* .skill-boxer-5:hover{
  transform: scale(1.1)
} */



/*  my projects */

.card {
  position: relative;
  width: 220px;
  height: 150px;
  padding: 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.curr_text{
  opacity : 0.7;

    transition: all 0.3s ease;

}

.card:hover .curr_text{
  opacity: 0;
  /* transform: translateY(-20px); */
    transform: translateY(-20px);

}
.hidden-text {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.card:hover .hidden-text {
  opacity: 0.6;
  transform: translateY(-65px);
}

.card:nth-child(1),
.card:nth-child(4){
  grid-column: 1;
}


.card:nth-child(2),
.card:nth-child(5){
  grid-column: 2;

  margin-top: 70px;
}

.card:nth-child(3),
.card:nth-child(6){
  grid-column: 3;
  margin-top: 140px;
}


.skills-grid-3:hover .card {
    opacity: 0.35;
}

.skills-grid-3 .card:hover {
    opacity: 1;
    transform: scale(1.03);
    border-radius: 0px;
}


@media (max-width:800px){
  .skills-grid-3{
    grid-template-columns: 1fr ;
    margin-top: 0px;

  }

.card:nth-child(1),
.card:nth-child(4){
  grid-column: 1;
  margin-top: 70px;
}


.card:nth-child(2),
.card:nth-child(5){
  grid-column: 1;
   margin-top: 70px;

 
}

.card:nth-child(3),
.card:nth-child(6){
  grid-column: 1;
   margin-top: 70px;

}

  
}

/* git projects */
.skills-grid-2:hover .skill-boxer {
    opacity: 0.35;

}

.skills-grid-2 .skill-boxer:hover {
    opacity: 1;
    transform: translateY(15px) scale(1.03);
    border-radius: 60px;
}


/* cursor */

/* .cursor-dot {
  width: 8px;
  height: 8px;
  background: #7c3aed;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999; 
}
*/
.cursor-ring {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9998;

  border: 4px solid rgba(124, 58, 237, 0.4);
  background: transparent;

  transform: translate(-50%, -50%);

  /* base glow */
  box-shadow: 0 0 10px rgba(124, 58, 237, 0.5);

  /* animation */
  animation: glow 1.6s infinite alternate;

  transition: transform 0.15s ease;
}

@media(max-width: 800px){
  .cursor-ring{
    display: none;
  }
}

@keyframes glow {
  0% {
    box-shadow:
      0 0 10px rgba(169, 135, 33, 0.5),
      0 0 20px rgba(169, 135, 33, 0.3);
  }
  50% {
    box-shadow:
      0 0 14px rgba(49, 173, 140, 0.6),
      0 0 28px rgba(49, 173, 140, 0.4);
  }
  100% {
    box-shadow:
      0 0 18px rgba(124, 58, 237, 0.7),
      0 0 36px rgba(124, 58, 237, 0.5);
  }
}



.big{
  display: flex;

  text-align: center;

 color:var(--logo-dark);

 opacity: 0.7;
  margin-top: -20px;
  margin-left: 230px;

  font-size: 170px;

    font-family: "BBH Hegarty", sans-serif;
   font-weight: 200; 
  font-style: normal;
}

@media (max-width:800px) {
  .big{
    font-size: 5rem;

    margin-left:2rem;
  }
}

.secx{

  display: flex;
  flex-direction: row;
}

.divi{
  width:10px;
  height:500px;
  background-color: indigo;

  /* padding: 1px; */


margin-left: 30px;

border-radius: 20px;
opacity: 0.5;
}

.custo{
  object-fit: cover;
  width : 50%;
  height : 50%;

  /* margin-bottom: 300px; */
  margin-left: 200px;
  border-radius: 15px;
  
  flex:3;

  opacity: 0.8;
  z-index :-1;

     box-shadow: 30px 60px rgba(0, 0, 0, 0.5);
  transition: transform 2s ease, ;
}

img:hover {
  transform: translateY(-10px) ;
  box-shadow: 30px 60px rgba(0,0,0,0.9);
 
}

